*{
box-sizing: border-box;
}

/* TOP SECTION */
body {
font-family:'Open Sans', sans-serif;
margin-top: -23px;
margin-left: auto;
margin-right: auto;
padding: 0;
}

main {
 margin: 0;
 padding: 0;
}

header {
padding-top: 20px;
height: 125px;
background-color:#3E2A35 ;
text-align: center;
font-size: 60px;
}

.foto-finder-logo {
height: 54px;
width: 73px;
}

@media screen and (max-width: 670px) {
  .foto-finder-logo {
  height: 37px;
  width:  52px;
  }
}

@media screen and (max-width: 575px) {
  .foto-finder-logo {
    height: 34px;
    width: 48px;
  }

}


header h1 {
display: inline-block;
background-color: #3E2A35 ;
color: #fff;
margin: auto;
font-size: 62px;
}

@media screen and (max-width: 670px) {
  header h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 575px) {
  header h1 {
    font-size: 40px;
  }
}



.top-section {
padding-top: 5px;
background-color: #3E2A35 ;
height:400px;
text-align: center;
}



/* MID SECTION */

#title_input {
 margin-bottom: 15px;
 margin-top: 4px;
}

#caption_input {
 margin-bottom: 15px;
 margin-top: 10px;
}

#input_box_title {
 padding-right: 455px;
 padding-bottom: 10px;
}

#input_box_caption {
 padding-right: 430px;
 padding-bottom: 10px;
 padding-top: 10px;
}

.inputboxes {
width: 500px;
height: 50px;
margin: auto;
display:block;
/*padding-top: 50px;*/
}

@media screen and (max-width: 670px) {
  .inputboxes {
    width: 473px;
    height: 41px;
  }
}

@media screen and (max-width: 575px) {
  .inputboxes {
    width: 385px;
    height: 41px;
  }

}

@media screen and (max-width: 400px) {
  .inputboxes {
    width: 320px;
    height: 35px;
  }
}

@media screen and (max-width: 335px) {
  .inputboxes {
    width: 290px;
    height: 35px;
  }
}

.input_box_labels {
 margin: 0;
 color: #c2b2b4 ;
 font-size: 17px;
 font-weight: 100;
}

.top-section-buttons {
 height: 42px;
 width: 211px;
 margin-top: 40px;
 margin-left: 38px;
 margin-right: 38px;
 font-size: 18px;
 background-color: #5b4447 ;
 border-style: none;
 color: #fff;
 font-weight: 100;
}

.top-section-buttons:hover {
 background-color: #938284 ;
}

#bottom_section {
 height: 600px;
 width: 100%;
 background-color: #c2b2b4 ;
 margin-top: 0px;
 padding-top: 24px;
}

#choose-file-button {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}
#choose-file-button + label {
   padding-top: 8px;
   font-size: 18px;
   font-weight: lighter;
   color: #fff;
   background-color: #5b4447 ;
   display: inline-block;
}

#choose-file-button:focus + label,
#choose-file-button + label:hover {
   background-color: #938284 ;
}
/*Bottom Section*/
.photo-card {
 background-color: #fff;
 width: 230px;
 margin: auto;
 border: 2px solid #939284;
 float:left;
}

.image-title {
 background-color: #fff;
 width: 100%;
 height: 0px;
 font-size: 18px;
 margin-top: 5px;
 padding-left: 8px;
 font-weight: 100;
}

.user-image {
 height: 201px;
 width: 100%;
}

.card-footer {
 width: 100%;
 height: 50px;
 background-color: #5b4447 ;
}

.card_buttons {
 height: 43px;
 width: 43px;
 background-color: #5b4447 ;
 border-style: none;
}

#favorite_button {
 margin-left: 112px;
}
