*{
  box-sizing: border-box;
}
body {
font-family: }
header {
  height: 100
}
.foto-finder-logo {
  height: 50px;
  width: 50px;
}


h1 {
  display: inline-block;
  background-color: #3E2A35;
  color: #fff;
  margin: auto;
}
